Desafio:
Uma importadora trabalha com produtos cujos valores oscilam conforme a cotação de 3 moedas:
1. Dólar
2. Euro
3. Ouro
Analisar e atualizar diariamente os valores dos produtos (compra e venda)

Passo-a-passo:
1. Baixar webdriver do Google

2. Criar um navegador

3. Encontrar a cotação do dólar
- Abrir navegador padrão
- Clicar no campo para busca
- Buscar a cotação do dólar
- Clicar em enter
- Identificar o valor do dólar diário
- Salvar para inserir na planilha

4. Encontrar a cotação do euro

5. Encontrar a cotação do ouro

6. Importar base e atualizar dados da mesma

7. Calcular os novos dados, salvar e exportar a nova base de dados

In [34]:
#Instalando selenium
!pip install selenium

Requirement already satisfied: selenium in c:\users\emi\anaconda3\lib\site-packages (4.1.0)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\users\emi\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio~=0.17 in c:\users\emi\anaconda3\lib\site-packages (from selenium) (0.19.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\emi\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: async-generator>=1.9 in c:\users\emi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\emi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: idna in c:\users\emi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: sortedcontainers in c:\users\emi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: sniffio in c:\users\emi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\emi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\emi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: pycparser in c:\users\emi\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\emi\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\emi\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\emi\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: certifi in c:\users\emi\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: six>=1.5.2 in c:\users\emi\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\emi\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.12.0)

In [35]:
#Importando bibliotecas de interesse
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

In [36]:
#Criando navegador
navegador = webdriver.Chrome()
#Buscando valor do dólar
navegador.get("https://www.google.com.br/")
navegador.find_element(By.XPATH, 
                       '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div[2]/div[2]/input').send_keys('cotação dólar')
navegador.find_element(By.XPATH, 
                       '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div[2]/div[2]/input').send_keys(Keys.ENTER)
cotacao_dolar = navegador.find_element(By.XPATH, 
                       '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
#Buscando valor do euro
navegador.get("https://www.google.com.br/")
navegador.find_element(By.XPATH, 
                       '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div[2]/div[2]/input').send_keys('cotação euro')
navegador.find_element(By.XPATH, 
                       '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div[2]/div[2]/input').send_keys(Keys.ENTER)
cotacao_euro = navegador.find_element(By.XPATH, 
                       '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
#Buscando valor do ouro
navegador.get("https://www.melhorcambio.com/ouro-hoje")
cotacao_ouro = navegador.find_element(By.XPATH, 
                       '//*[@id="comercial"]').get_attribute('value')
cotacao_ouro = cotacao_ouro.replace(',', '.')

print(cotacao_dolar)
print(cotacao_euro)
print(cotacao_ouro)

5.5299
6.3384
323.57

In [37]:
#Atualizando banco de dados
import pandas as pd

df = pd.read_excel('Produtos.xlsx')
display(df)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

In [38]:
#Atualizando coluna Cotação
df.loc[df['Moeda'] == 'Dólar', 'Cotação'] = float(cotacao_dolar)
df.loc[df['Moeda'] == 'Euro', 'Cotação'] = float(cotacao_euro)
df.loc[df['Moeda'] == 'Ouro', 'Cotação'] = float(cotacao_ouro)
display(df)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.5299,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6.3384,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5.5299,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5.5299,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6.3384,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5.5299,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,323.5700,7000.00,1.15,8050.000

In [39]:
#Atualizando Preços
df['Preço de Compra'] = df['Preço Original'] * df['Cotação']
df['Preço de Venda'] = df['Preço de Compra'] * df['Margem']
display(df)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.5299,5529.844701,1.40,7741.782581
1,Carro Renault,4500.00,Euro,6.3384,28522.800000,2.00,57045.600000
2,Notebook Dell,899.99,Dólar,5.5299,4976.854701,1.70,8460.652992
3,IPhone,799.00,Dólar,5.5299,4418.390100,1.70,7511.263170
4,Carro Fiat,3000.00,Euro,6.3384,19015.200000,1.90,36128.880000
5,Celular Xiaomi,480.48,Dólar,5.5299,2657.006352,2.00,5314.012704
6,Joia 20g,20.00,Ouro,323.5700,6471.400000,1.15,7442.110000

In [40]:
df.to_excel('Produtos Atual.xlsx', index=False)